<div class="container">
    <div class="shadow" style="width: 100%;">
      <h6 class="text-center" style="color: gold;margin-top: revert;">
         PRE-FIELD ATTENDANCE REGISTER
      </h6>
      <!-- Back Button -->
      <a href="javascript:history.back()" class="back-btn">
          <i class="fas fa-arrow-left"></i> BACK
      </a>

      <form (ngSubmit)="onSubmit()" [formGroup]="ProfileUpdateForm" novalidate>
      <div class="mb-3">
        <label class="label">Select Field:</label>
        <select id="UpdateFor" formControlName="UpdateFor" class="form-select">
          <option value="" disabled selected>Select Field</option>
          <option *ngFor="let field of fields" [value]="field">{{ field }}</option>
        </select>
        <div class="text-danger" *ngIf="submitted && ProfileUpdateForm.controls['UpdateFor'].invalid">
          Select Field!
        </div>
      </div>

      <div class="mb-3">
        <label class="label">Field to Update To:</label>
        <input
          type="text"
          id="UpdateTo"
          class="form-control"
          formControlName="UpdateTo"
          placeholder="Provide Field to Update To"
        />
        <div class="text-danger" *ngIf="submitted && ProfileUpdateForm.controls['UpdateTo'].invalid">
          Provide Field to Update To!
        </div>
      </div>

      <div *ngIf="successMsg" class="alert alert-success text-center">
        {{ successMsg }}
      </div>

      <div *ngIf="errorMsg" class="alert alert-danger text-center">
        {{ errorMsg }}
      </div>

      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
    </div>
  </div>
  
  <div *ngIf="isLoading" class="loader">
    <app-loader></app-loader>
  </div>
  